/**
    General
**/
$primary: #9fef00 !default;
$secondary: #141d2b !default;
$tertiary: #111721 !default;

$text-color-light: #fff !default;
$text-color-default: #4f5a6e !default;
$font-size-default: 18px;

$background-light: #fafafe !default;
$background-default: #f1f1f1 !default;
$background-dark: #1a2332 !default;

/**
    Sidebar Menu
**/
$menu-width-expanded: 185px; /* correlates to the width of the sidebar-menu */
$menu-width-collapsed: 50px;

/** 
    Console 
**/
$console-background: #333;

/**
    Books
**/
$text-color-notes: $text-color-light;
$scrollbar-color: #b4b4b4;
$scrollbar-width: 5px;
$book-title-border-width: 1px;
