#book-list-header-section {
    background-color: $background-dark;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 5%;

    border: 4px outset $primary;
}

.book-list-header {
    color: $text-color-light;
    margin: 0;
}

.add-icon {
    margin-right: 10px;
    padding-top: 5px;

    &:hover {
        color: $primary;
        cursor: pointer;
    }
}

.book-list {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

.book-notes {
    margin: 0;
    background-color: $background-light;
}

.book-note {
    cursor: pointer;
    color: $text-color-default;
    background-color: $background-light;

    h4 {
        margin: 0;
        padding-left: 5%;
    }

    &:hover {
        background-color: $primary;
        color: $tertiary;
    }
}

.active-note {
    background-color: $primary;
    color: $tertiary;
}

.book-title {
    color: $text-color-light;
    background-color: $background-dark;

    user-select: none;
    text-align: center;

    padding-top: 1%;
    padding-bottom: 1%;

    cursor: pointer;
    position: relative;
    background-clip: padding-box;
    border: $book-title-border-width solid transparent;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$book-title-border-width;
        border-radius: inherit;
        background: linear-gradient(to left, $background-dark, $primary);
    }

    &:hover {
        background-color: $tertiary;
    }

    h3 {
        word-wrap: break-word;
        margin: 0;
    }
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-thumb {
    border: 0px solid #000;
}
