.vue-dialog-content {
    color: $text-color-light;
    background-color: $background-dark;
    font-size: $font-size-default;
}

.neutral-button {
    color: $text-color-light;
    background-color: $tertiary;

    &:hover {
        background-color: $background-dark;
    }
}

.positive-button {
    color: $text-color-default;
    background-color: $primary;
}

